   
   .nav__icon{
    color: #C5CAE9;
    cursor: pointer;
    font-size: 2rem; 
   }

   .nav__icon:hover {
    color: #00BCD4;
    animation: shake 150ms 2 linear;
    -moz-animation: shake 150ms 2 linear;
    -webkit-animation: shake 150ms 2 linear;
    -o-animation: shake 150ms 2 linear;
  }

.nav__logo{
   position: fixed;
    display: flex;
    padding: 1rem;
    width:4rem;
    height: 4rem;
    top: 15px;
    left: 20px;
}

   .burger_menu{
     width:4rem;
     height: 4rem;
     position: fixed;
     top: 15px;
     right: 20px;
     display: flex;
     align-items:flex-start;
     flex-direction: column;  
     justify-content: space-around;
     z-index: 3;
     cursor: pointer;
   }
    
   
   .burgerBar{
     width: 3rem;
     height: 0.25rem;
     background-color: #C5CAE9;
     border-radius: 10px;
   }
   
   
   .burgerBar.clicked:nth-child(1){
     transform: rotate(45deg) translate(0.75em, 1.25em);
     transition: ease-out 0.5s;
     background-color: #C5CAE9;
   }
   .burgerBar.clicked:nth-child(2){
     transform: scale(0.01);
     transition: ease-out 0.5s;
     background-color: #C5CAE9;
   
   }
   .burgerBar.clicked:nth-child(3){
     transform: rotate(135deg) translate(-0.5em, 1.25em);
     transition: ease-out 0.5s;
     background-color: #C5CAE9;
   }
   
   .burgerBar.unclicked{
     transform: rotate(0) translate(0);
     transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
     background-color: #C5CAE9;
   }

  
    @keyframes shake {
      0% {
        transform: translate(3px, 0);
      }
      50% {
        transform: translate(-3px, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }
  
    @-moz-keyframes shake {
      0% {
        -moz-transform: translate(3px, 0);
      }
      50% {
        -moz-transform: translate(-3px, 0);
      }
      100% {
        -moz-transform: translate(0, 0);
      }
    }
  
    @-webkit-keyframes shake {
      0% {
        -webkit-transform: translate(3px, 0);
      }
      50% {
        -webkit-transform: translate(-3px, 0);
      }
      100% {
        -webkit-transform: translate(0, 0);
      }
    }
  
    @-ms-keyframes shake {
      0% {
        -ms-transform: translate(3px, 0);
      }
      50% {
        -ms-transform: translate(-3px, 0);
      }
      100% {
        -ms-transform: translate(0, 0);
      }
    }
  
    @-o-keyframes shake {
      0% {
        -o-transform: translate(3px, 0);
      }
      50% {
        -o-transform: translate(-3px, 0);
      }
      100% {
        -o-transform: translate(0, 0);
      }
    }