.footer__bar{
    margin-top: auto;
    display: flex;
    gap:2rem;
    background-color: black;
    justify-content: center;
    padding: 2rem;
    width: 100vw;
}

.footer__icon{
    color: #01B3E3;
    font-size: 1.4rem;
}