.heading__h1{
  font-size: 3.5rem;
  color: whitesmoke;
  padding: 2rem;
  text-align: center;
}

.heading__h2{
  font-size: 2rem;
  color: whitesmoke;
  text-align: center;

}

.heading__h3{
  font-size: 1.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

.main__hero {
width: 100vw;
height: 100vh;
position: relative;
background-image: url('../../public/outer_space.jpg');
display: flex;
flex-direction: column;
flex-wrap: nowrap;
gap: 5rem;
justify-content: center;
}


.search__form{
  width: 50vw;
  margin: auto;
}

.search__input{
  width: 85%;
  font-size: 2rem;
  border-radius: 25px 0 0 25px;
  border: 2px ;
  padding: 1rem;
}

.search__input:focus {
  outline: none;
  border:2px solid  #360264;
}

.search__button{
  width: 15%;
  height: 100%;
  font-size: 2rem;
  font-size: 2rem;
  border-radius: 0 25px 25px 0;
  padding: 1rem;
  cursor: pointer;
  border: 0;
  background-color: black;
  color:whitesmoke
}


.search__no__results{
  border-radius: 5px;
  text-align: center;
  margin-top: 5rem;
  width: 10%;
  margin-left: 45%;
  padding: 1rem;
  position: absolute;
  color: whitesmoke;
  background-color: #360264;
}


.search__results__length{
  text-align: center;
  color: whitesmoke;
}

#results__div{
  text-decoration: none;
}

.search__results{
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  position: absolute;
  width: 90%;
  margin-left: 5%;
}

.card{
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid;
  border-color: muted;
  border-radius: 25px;
  line-height: 2;
  background-color: whitesmoke;
  transition: transform .2s; /* Animation */
}

.card:hover{
  transform: scale(1.05);
}

.card__container{
  color: #141414;
  text-decoration: none;
}
