
.main{
  background-color: #141414;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.main__hero {
width: 100vw;
height: 100vh;
position: relative;
background-image: url('../../public/outer_space.jpg');
display: flex;
flex-direction: column;
flex-wrap: nowrap;
gap: 5rem;
justify-content: center;
}


.search__form{
  width: 50vw;
  margin: auto;
}

.search__input{
  width: 85%;
  font-size: 2rem;
  border-radius: 25px 0 0 25px;
  border: 2px ;
  padding: 1rem;
}

.search__input:focus {
  outline: none;
  border:2px solid rgb(8, 207, 25);
}

.search__button{
  width: 15%;
  height: 100%;
  font-size: 2rem;
  font-size: 2rem;
  border-radius: 0 25px 25px 0;
  padding: 1rem;
  cursor: pointer;
  border: 0;
  background-color: black;
  color:aliceblue
}


.search__no__results{
  border-radius: 15px;
  text-align: center;
  margin-top: 5rem;
  width: 10%;
  margin-left: 45%;
  position: absolute;
  color: black;
  background-color: red;
}


.search__results__length{
  border-radius: 15px;
  text-align: center;
  margin-top: 5rem;
  width: 10%;
  margin-left: 45%;
  position: absolute;
  color: black;
  background-color: green;
}


.search__results{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  position: absolute;
  width: 90%;
  margin-left: 5%;
}

.card{
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid;
  border-color: muted;
  border-radius: 4px;
}

.card__container{
  color: black;
  text-decoration: none;
}