
ul.nav__display{
    display: flex;
    background: -webkit-linear-gradient(200deg,  #303F9F,#00BCD4);
    opacity: 0.98;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width:100%;
    justify-content: center;
    transition: all .65s;
    transform: translate(0);
    list-style: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    z-index: 2;
    padding: 2.5rem 0 2.5rem 0;

  }
  
  ul.nav__hide{
    display: flex;
    background: -webkit-linear-gradient(200deg, #303F9F,#00BCD4);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width:0;
    justify-content: center;
    transition: all .65s;
    transform: translate(0);
    list-style: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    z-index: 2;
    padding: 2.5rem 0 2.5rem 0;
  }
  
  .nav__ul{
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    z-index: 3;  

  }
  
  .nav__li{
    text-align: center;
    position: relative;
    width:50vw;
    margin: auto;
    z-index: 3;
  }

  .nav__li a{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: #212121;
    transition: all .5s;
  }

  .nav__li a:hover{
    color: #C5CAE9;
  }
  
  .header__links {
    text-decoration: none;
    font-style: none;
    color: inherit;
    opacity: 1;
    display: inline-block;
    position: relative;
    padding: 1rem;
  }
  
  .header__links:hover {
    opacity: 0.75;
    transition: 300ms;
    transform: scale(1.2);
  }


  @media only screen and (min-width: 1200px) {
    ul.nav__display{
      height: 100vh;
      width:100vw; 
    }


  .nav__li a{
    font-size: 3rem;
  }
    
    ul.nav__hide{
      height: 100vh;
    }
 

  }
  
  
  