
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


ul.nav__display{
    display: flex;
    background: -webkit-linear-gradient(200deg, #8BC34A,#FBC02D);
    opacity: 0.98;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width:100vw;
    justify-content: center;
    transition: all .65s;
    transform: translate(0);
    list-style: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    z-index: 2;
  }
  
  ul.nav__hide{
    display: flex;
    background: -webkit-linear-gradient(200deg,#8BC34A,#FBC02D);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width:0;
    justify-content: center;
    transition: all .65s;
    transform: translate(0);
    list-style: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    z-index: 2;
  }
  
  .nav__ul{
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    z-index: 3;
  }
  
  .nav__li{
    text-align: center;
    position: relative;
    font-size: 2rem;
    width:50vw;
    margin: auto;
    z-index: 3;
  }

  .nav__li a{
    font-family: 'Creepster', cursive;
  font-size: 4rem;
    color: #212121;
  }
  
  .header__links {
    text-decoration: none;
    font-style: none;
    color: inherit;
    opacity: 1;
    display: inline-block;
    position: relative;
    padding: 1rem;
  }
  
  .header__links:hover {
    opacity: 0.75;
    transition: 300ms;
    transform: scale(1.2);
  }
  
  
  