.pagination__ul{
    display: flex;
    gap: 2.5rem;
    padding: 1rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
}

.pagination__ul li{
    list-style: none;
}

.pagination__ul li.active a{
    list-style: disc;
}

.pagination__ul li a{
    border-radius: 5px;
    padding: 1rem;
    background-color: #C5CAE9;
    color:#212121 ;
    transition: all .2s ease-in;
}

.disabled {
display: none;
}

.active {
    background-color: grey !important;
    color: white !important;
  } 


.pagination__ul li a:hover{
background-color: #00BCD4;
}

a .disabled {
    display: none;
}



@media only screen and (min-width: 1200px) {

    .pagination__ul{
        gap: 2rem;
        padding: 2rem;
        margin: 2rem; 
    }
    
    .pagination__ul li{
        list-style: none;
    }
    
    .pagination__ul li.active a{
        list-style: disc;
    }
    
    .pagination__ul li a{
        border-radius: 5px;
        padding: 2rem;
    }
    
    


  }