@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box ;
    padding: 0px ;
    margin: 0px;
  }


  body{
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
  }

  p{
    font-family: 'Quicksand', sans-serif;
  }

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }